p{
    background-color: #000000;

    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #FFFFFF;
}

.img-wrapper{
    width: 90%;
    margin: 10px auto;
}
img{
    max-width: 100%;
}