.MainPage {
    margin: 0 auto;
}

header{
    margin-bottom: 36px;
}

h1{
    font-size: 28px;
}

.form-section{
    max-width: 340px;
}

#form, #formBody, #formBottom{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#form{
    gap: 30px;
}

.info{
    font-size: 13px;
}

#sendButton{
    cursor: url(../../assets/icons/mic.svg), auto;
    min-width: 125px;
}

.send-button-section{
    display: flex;
    gap: 20px;
}

.status-wrapper{
    display: flex;
    gap: 10px;
    align-items: center;
}
